nav {
    width: 300px;
    height: 100vh;
    background-color: #041230;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        height: 225px;
        width: 100%;
        padding: 50px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        img {
            padding: 0 80px;
            justify-self: center;
            align-items: center;
        }
    }

    .navigation {
        width: 220px;
        height: 288px;
        display: flex;
        justify-self: flex-start;


        .nav-list {

            font-size: 16px;
            font-weight: 500;
            list-style-type: none;
            text-transform: uppercase;
            padding: 30px 20px 30px 60px;
            line-height: 1.8;


            li {
                padding: 10px 0;

                a {
                    position: relative;
                    text-decoration: none;
                    color: #fff;
                }

                a::after {
                    content: ' ';
                    margin: 0;
                    position: absolute;
                    display: flex;
                    height: 2px;
                    width: 0px;
                    background-color: #e3872d;
                    transform: translateY(-50%);
                    bottom: 8px;
                    left: 120%;
                    transition: .3s all;

                }

                a:hover {
                    color: #e3872d;
                }

                a:hover::after {
                    margin: 0;
                    width: 40px;
                }
            }
        }
    }

    .social {
        display: flex;
        align-self: flex-end;

        .social-icons {
            display: flex;
            width: 300px;
            height: 50px;
            list-style: none;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            padding: 12px 40px;
            margin: 0 0 40px 0;


            li {

                width: 30px;
                height: 30px;



                a {
                    display: block;
                    width: 22px;
                    height: 22px;
                    font-weight: normal;
                    border: 1px solid green;
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Font Awesome 5 Brands';

                    // .fa-facebook-f,
                    // .fa-twitter,
                    // .fa-linkedin-in,
                    // .fa-instagram,
                    // .fa-behance {

                    // }
                }
            }
        }
    }
}