#services {
    width: 100%;
    height: auto;
    padding: 100px 0 0 300px;
    display: flex;
    flex-direction: column;


    .header {
        width: 85%;
        border-left: 6px solid #e3872d;
        color: #000;
        align-self: center;
        margin: 0 0 50px 0;


        h2 {
            padding: 0 0 0 25px;
            margin: 0;
            font-size: 50px;
            font-weight: 600;
            text-transform: uppercase;

        }

        p {
            padding: 0 0 0 25px;
            margin: 0;
            font-size: 16px;
        }
    }

    .list-wrapper {
        width: 100%;

        .boxes {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            li {
                position: relative;
                width: 360px;
                height: 280px;
                margin: 15px;
                box-shadow: 0 0 20px rgba(0, 0, 0, .1);
                padding: 40px 40px 33px 40px;
                transition: all 0.3s;

                i {
                    color: #e3872d;
                    font-size: 40px;
                    border: 1px solid green; //do usunięcia
                }

                h5 {
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: .5px;
                    margin: 20px 0;
                }

                p {
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    line-height: 1.8;
                }
            }

            li:hover {
                transform: translateY(-5px);
            }
        }
    }
}